.mat-form-field{
    width:100%;
    border-bottom: 2px solid black;
}
.search::placeholder{
color: gainsboro;
}
.search{
    color:gainsboro;
    font-size: 1.5rem;
}

table {
    
    margin-top:10px;
    width: 100%;
  }
  th {
      background-color: black !important;
  }
  td, th {

    color: gainsboro !important;
    width: 25%;
  }

 